<!-- <div class="flex items-center mb-4"> -->
<!--     <p-dropdown [options]="listTypes" [(ngModel)]="selectedTypeId" optionLabel="name" optionValue="id" placeholder="Seleccione tipo de lista"> </p-dropdown> -->
<!--     <button pButton label="Gestionar tipos" class="ml-2" (click)="openTypeDialog()"></button> -->
<!-- </div> -->
<!---->
<!-- Tabla de ítems filtrados por el tipo seleccionado -->

<app-list-item [listTypeId]="selectedTypeId"></app-list-item>
<!---->
<!-- <app-list-type [(visible)]="typeDialogVisible" (saved)="reloadListTypes()"> </app-list-type> -->
