
# node
node_modules/
dist/
tmp/
.env
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular cache & build
.angular/
*.ngsummary.json

# IDEs y sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git
.git/

# Compilados temporales
*.tsbuildinfo
